<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/navbar.html :: header( title = 'Productos')}"></head>
    <body>
        <div class="container">
            <nav th:replace="~{fragments/navbar.html :: navbar( active = 'Product')}"></nav>
            <div class="row mb-4">
                <div class="col-md-6 offset-md-3">
                    <h2 th:text="${tecnico.id==0? 'Nuevo Tecnico':'Editar Tecnico'}">Editar Producto</h2>
                    <hr/>
                    <form method="post" th:action="@{'/tecnico/save'}" th:object="${tecnico}">
                        <input th:field="*{id}" type="hidden"/>
                        <div class="mb-3">
                            <label class="form-label">Nombre Tecnico</label>
                            <input th:field="*{firstName}" type="text" class="form-control"
                                   th:classappend="${#fields.hasErrors('firstName')?'is-invalid':''}"/>
                            <div class="invalid-feedback"
                                 th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
                                Mensaje de error de productName
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Apellido Tecnico</label>
                            <input th:field="*{lastName}" type="text" class="form-control"
                                   th:classappend="${#fields.hasErrors('lastName')?'is-invalid':''}"/>
                            <div class="invalid-feedback"
                                 th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">
                                Mensaje de error de productName
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Dni</label>
                            <input th:field="*{DNI}" type="text" th:class="${#fields.hasErrors('DNI')?'form-control is-invalid':'form-control'}"/>
                            <div class="invalid-feedback"
                                 th:if="${#fields.hasErrors('DNI')}" th:errors="*{DNI}">
                                Mensaje de error de productName
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Telefono</label>
                            <input th:field="*{phone}" type="text" th:class="${#fields.hasErrors('phone')?'form-control is-invalid':'form-control'}"/>
                            <div class="invalid-feedback"
                                 th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">
                                Mensaje de error de productName
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Edad</label>
                            <input th:field="*{edad}" type="text" th:class="${#fields.hasErrors('edad')?'form-control is-invalid':'form-control'}"/>
                            <div class="invalid-feedback"
                                 th:if="${#fields.hasErrors('edad')}" th:errors="*{edad}">
                                Mensaje de error de productName
                            </div>
                        </div>
                        <a th:href="@{'/tecnico'}" class="btn btn-danger">Cancelar</a>
                        <button type="submit" class="btn btn-primary"
                                th:text="${tecnico.id==0? 'Guardar':'Actualizar'}">Actualizar
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <script th:replace="~{fragments/navbar.html :: footer-bootstrap}"></script>
    </body>
</html>