<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/navbar.html :: header( title = 'Productos')}"></head>
    <body>
        <main>
            <div class="container px-4 pb-5">
                <nav th:replace="~{fragments/navbar.html :: navbar( active = 'Product')}"></nav>
                <h1 class="pb-2 border-bottom">Lista Tecnicos</h1>
                <div class="alert alert-success" role="alert" th:if="${msg != null}" th:text="${msg}">
                    A simple success alert—check it out!
                </div>
                <a class="btn btn-primary mt-4 mb-4" th:href="@{'/tecnico/new'}">Nuevo Tecnico</a>
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Dni</th>
                            <th>Telefono</th>
                            <th>Edad</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="tecnico, info : ${listaTecnico}">
                            <td th:text="${info.index + 1}"></td>
                            <td th:text="${tecnico.firstName}"></td>
                            <td th:text="${tecnico.getLastName()}"></td>
                            <td th:text="${tecnico.getDNI()}"></td>
                            <td th:text="${tecnico.getPhone()}"></td>
                            <td th:text="${tecnico.getEdad()}"></td>
                            <td><a class="btn btn-primary"
                                   th:href="@{'/tecnico/edit' + '?id=' + ${tecnico.id}}">Editar</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
        <script th:replace="~{fragments/navbar.html :: footer-bootstrap}"></script>
    </body>
</html>
